* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #EBEBEB;
}

button {
    margin-top: 2vh;
    padding: 20px 40px;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #EDF67D;
}

button:hover {
    cursor: pointer;
}

#container {
    background-color: #F5F5F5;
    display: flex;
    flex-flow: row wrap;
    width: 650px;
    height: 650px;
    flex-wrap: wrap;
}

